body {
    margin: 0;
    font-family: Arial, sans-serif;
     background-image:url('N.png');
}
#selection,#selection2{
    display:flex;
    flex:50%;
    flex-wrap:wrap;
    flex-direction:row;
}
#selection > button, #selection2 > button{
    margin: 5px;
     display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#fc9999;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:1%;
}
.row{
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}


.box {
    border: 5px solid #ff4040;
    width:290px ;
    padding: 10px;
    margin: 10px;
    justify-content:center;
    align-items:center;
}
.middle-box {
    border: 5px solid #ff4040;
    width:250px ;
    padding: 10px;
    margin: 10px;
    justify-content:center;
    align-items:center;
}

.header {
    background-color: #d33232;
    color: white;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}

.content p {
    background-color: #B35D5D;
    padding: 5px;
    margin-bottom: 10px;
}

.button-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

button {
    background-color: #E7E7E7;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.middle-box {
    background-color: #4866B3;
    padding: 10px;
    color: white;
}
#healthbar1,#healthbar2{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
   
}
#health, #health2{
    display: flex;
    width: 15px;
    height: 25px;
    background-color: orange;
    margin: 2px;
}
@media only screen and (max-width:1400px) {
   .body{
       flex-direction:column;
   }
    .row{
        width:100%;
    }
    .container{
        flex-direction: column;
    }
        
}
